<div class="login_top">ようこそ保管量計算ページへ。タリフを保存すると、何度も呼び出せるので便利ですよ。すでに登録済みの方は、
<%= link_to "ログイン", new_session_path(resource_name) %>してください。</div>

<main>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="name">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      (<%= @minimum_password_length %> 文字以上)
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "登録", id: "login_btn" %>
    </div>
  <% end %>
</main>
